<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="base_mass" value="4.6" />
  <xacro:property name="wheel_mass" value="1.0" />

  <!-- Define global properties -->
  
  <xacro:property name="base_radius" value="0.15"/>
  <xacro:property name="base_height" value="0.02"/>

  <xacro:property name="leg_length_upper" value="0.03"/>
  <xacro:property name="leg_length_middle" value="0.089"/>
  <xacro:property name="leg_length_lower" value="0.164"/>

  <xacro:property name="leg_radius" value="0.02"/>

  <xacro:property name="PI_const" value="3.1415926"/>

  <xacro:property name="mass_upper" value="0.1" />
  <xacro:property name="mass_middle" value="0.1" />
  <xacro:property name="mass_lower" value="0.1" />


  <xacro:property name="dx_upp" value="${leg_radius * 2}"/>  
  <xacro:property name="dy_upp" value="${leg_radius * 2}"/>  
  <xacro:property name="dz_upp" value="${leg_length_upper}"/>  

  <xacro:property name="dx_mid" value="${leg_radius * 2}"/>     
  <xacro:property name="dy_mid" value="${leg_radius * 2}"/>  
  <xacro:property name="dz_mid" value="${leg_length_middle}"/>  

  <xacro:property name="dx_low" value="${leg_radius * 2}"/>   
  <xacro:property name="dy_low" value="${leg_radius * 2}"/>  
  <xacro:property name="dz_low" value="${leg_length_lower}"/>  

  <xacro:property name="ixx" value="1.0"/>
  <xacro:property name="iyy" value="1.0"/>
  <xacro:property name="izz" value="1.0"/>

  <!--upper leg -->
  <xacro:property name="ixx_upp" value="${dy_upp*dy_upp + dz_upp*dz_upp}"/>
  <xacro:property name="iyy_upp" value="${dx_upp*dx_upp + dz_upp*dz_upp}"/>
  <xacro:property name="izz_upp" value="${dx_upp*dx_upp + dy_upp*dy_upp}"/>
  
  <xacro:property name="ixy_upp" value="(-dx_upp * dy_upp)"/>
  <xacro:property name="ixz_upp" value="(-dx_upp * dz_upp)"/>
  <xacro:property name="iyz_upp" value="(-dy_upp * dz_upp)"/>

  <!--middle leg -->

  <xacro:property name="ixx_mid" value="${dy_mid*dy_mid + dz_mid*dz_mid}"/>
  <xacro:property name="iyy_mid" value="${dx_mid*dx_mid + dz_mid*dz_mid}"/>
  <xacro:property name="izz_mid" value="${dx_mid*dx_mid + dy_mid*dy_mid}"/>
  
  <xacro:property name="ixy_mid" value="(-dx_mid * dy_mid)"/>
  <xacro:property name="ixz_mid" value="(-dx_mid * dz_mid)"/>
  <xacro:property name="iyz_mid" value="(-dy_mid * dz_mid)"/>

  <!-- lower leg -->

  <xacro:property name="ixx_low" value="${dy_low*dy_low + dz_low*dz_low}"/>
  <xacro:property name="iyy_low" value="${dx_low*dx_low + dz_low*dz_low}"/>
  <xacro:property name="izz_low" value="${dx_low*dx_low + dy_low*dy_low}"/>
  
  <xacro:property name="ixy_low" value="(-dx_low * dy_low)"/>
  <xacro:property name="ixz_low" value="(-dx_low * dz_low)"/>
  <xacro:property name="iyz_low" value="(-dy_low * dz_low)"/>


  <xacro:macro name="open_manipulator_x" params="prefix=''">

    <xacro:property
      name="meshes_file_direction"
      value="package://open_manipulator_description/meshes"/>

<!-- PLATFORMA -->

    <link name="${prefix}link1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/platform.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/platform.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${base_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

    <!-- PLATFORMA - UP_SECTION -->

    <joint name="${prefix}joint1" type="revolute">
      <parent link="${prefix}link1"/>
      <child link="${prefix}link2"/>
      <origin xyz="0.0  0.069   0.000952" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- UP_SECTION -->

    <link name="${prefix}link2">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx_upp}" ixy="${ixy_upp}" ixz="${ixz_upp}"
          iyy="${iyy_upp}" iyz="${iyz_upp}"
          izz="${izz_upp}"/>
      </inertial>
    </link>

  <!-- UP_SECTION - MID_SECTION -->

    <joint name="${prefix}joint2" type="revolute">
      <parent link="${prefix}link2"/>
      <child link="${prefix}link3"/>
      <origin xyz="0.0       0.03062  -0.01454" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- MID_SECTION -->

    <link name="${prefix}link3">
      <visual>
        <origin xyz="0.0 0.03637 0.00361" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.0 0.03637 0.00361" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx_mid}" ixy="${ixy_mid}" ixz="${ixz_mid}"
          iyy="${iyy_mid}" iyz="${iyz_mid}"
          izz="${izz_mid}"/>
      </inertial>
    </link>

  <!-- MID_SECTION - DOWN_SECTION -->

    <joint name="${prefix}joint3" type="revolute">
      <parent link="${prefix}link3"/>
      <child link="${prefix}link4"/>
      <origin xyz="0.0        0.09  0.005618" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- DOWN_SECTION -->

    <link name="${prefix}link4">
      <visual>
        <origin xyz="0.0  0.055874  -0.0577" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.0  0.055874  -0.0577" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0        0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx_low}" ixy="${ixy_low}" ixz="${ixz_low}"
          iyy="${iyy_low}" iyz="${iyz_low}"
          izz="${izz_low}"/>
      </inertial>
    </link>

  <!-- USELESS -->

    <!-- <joint name="${prefix}joint4" type="revolute">
      <parent link="${prefix}link4"/>
      <child link="${prefix}link5"/>
      <origin xyz="0.124 0.0 0.0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit velocity="4.8" effort="1000" lower="${-1.7}" upper="${1.97}" />
      <dynamics damping="0.1"/>
    </joint>

    <link name="${prefix}link5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/link5.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/link5.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="4.4206755e-02 3.6839985e-07 8.9142216e-03" />
        <mass value="1.4327573e-01" />
        <inertia ixx="8.0870749e-05" ixy="0.0" ixz="-1.0157896e-06"
                 iyy="7.5980465e-05" iyz="0.0"
                 izz="9.3127351e-05" />
      </inertial>
    </link>

    <joint name="${prefix}gripper_left_joint" type="prismatic">
      <parent link="${prefix}link5"/>
      <child link="${prefix}gripper_left_link"/>
      <origin xyz="0.0817 0.021 0.0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit velocity="4.8" effort="1000" lower="-0.010" upper="0.019" />
      <dynamics damping="0.1"/>
    </joint>

    <link name="${prefix}gripper_left_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/gripper_left_palm.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/gripper_left_palm.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" />
        <mass value="1.0e-03" />
        <inertia ixx="1.0e-06" ixy="0.0" ixz="0.0"
                 iyy="1.0e-06" iyz="0.0"
                 izz="1.0e-06" />
      </inertial>
    </link>

    <joint name="${prefix}gripper_right_joint" type="prismatic">
      <parent link="${prefix}link5"/>
      <child link="${prefix}gripper_right_link"/>
      <origin xyz="0.0817 -0.021 0" rpy="0 0 0"/>
      <axis xyz="0 -1 0"/>
      <limit velocity="4.8" effort="1000" lower="-0.010" upper="0.019" />
      <dynamics damping="0.7"/>
      <mimic joint="${prefix}gripper_left_joint" multiplier="1"/>
    </joint>

    <link name="${prefix}gripper_right_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/gripper_right_palm.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/gripper_right_palm.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" />
        <mass value="1.0e-03" />
        <inertia ixx="1.0e-06" ixy="0.0" ixz="0.0"
                 iyy="1.0e-06" iyz="0.0"
                 izz="1.0e-06" />
      </inertial>
    </link>

    <joint name="${prefix}end_effector_joint" type="fixed">
      <parent link="${prefix}link5"/>
      <child link="${prefix}end_effector_link"/>
      <origin xyz="0.126 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}end_effector_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="red">
          <color rgba="1.0 0.0 0.0 1"/>
        </material>
      </visual>
    </link> -->

  </xacro:macro>

</robot>
