<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="wheel_mass" value="1.0" />
  <xacro:property name="ixx" value="1.0" />
  <xacro:property name="iyy" value="1.0" />
  <xacro:property name="izz" value="1.0" />
<!-- tak można przekazać parametr -->
<!--  <xacro:macro name="mecanum_wheel" params="prefix side x_reflect y_reflect"> -->

  <xacro:macro name="up_section_macro">
    <link name="up_section">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find hexapod_description)/meshes/leg_up.stl"/>
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find hexapod_description)/meshes/leg_up.stl"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

    <joint name="up_section_joint" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <parent link="base_link"/>
      <child link="up_section"/>
      <origin xyz="-0.0052386 0.097578 0.0015" rpy="0.0 0.0 0.0"/>
      <!-- ograniczenie kątów -30 do 30 stopni -->
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
    </joint>

    <gazebo reference="up_section">
      <surface>
        <friction>
          <ode>
              <mu>1.0</mu>
              <mu2>0.0</mu2>
          </ode>
        </friction>
      </surface>
      <visual>
          <material>
              <ambient>0.2 0.2 0.2 1.0</ambient>
              <diffuse>0.2 0.2 0.2 1.0</diffuse>
              <specular>0.2 0.2 0.2 1.0</specular>
              <emissive>0.0 0.0 0.0 0.0</emissive>
          </material>
      </visual>
  </gazebo>

  </xacro:macro>
</robot>