<?xml version="1.0"?>
 
 <robot xmlns:xacro="http://www.ros.org/wiki/xacro">
 
   <xacro:property name="base_mass" value="4.6" />
   <xacro:property name="wheel_mass" value="1.0" />
   <xacro:property name="ixx" value="1.0"/>
   <xacro:property name="iyy" value="1.0"/>
   <xacro:property name="izz" value="1.0"/>
 
   <xacro:macro name="hexapod" params="prefix=''">
 
     <xacro:property
       name="meshes_file_direction"
       value="package://hexapod_description/meshes"/>
 

<!-- WORLD DEFINITION -->
      <!-- <link name="world"/> -->
      <!-- 

      <joint name="${prefix}world_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="${prefix}base_link"/>
      </joint> -->

<!-- PLATFORMA -->
      
     <link name="${prefix}base_link">
       <visual>
         <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
         <geometry>
           <mesh filename="${meshes_file_direction}/platform.stl" scale="1.0 1.0 1.0"/>
         </geometry>
         <material name="grey">
           <color rgba="0.2 0.2 0.2 1"/>
         </material>
       </visual>
 
       <collision>
         <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
         <geometry>
           <mesh filename="${meshes_file_direction}/hitbox_platform.stl" scale="1.0 1.0 1.0"/>
         </geometry>
       </collision>
 
        <inertial>
         <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
         <mass value="${base_mass}"/>
         <inertia
           ixx="${ixx}" ixy="0.0" ixz="0.0"
           iyy="${iyy}" iyz="0.0"
           izz="${izz}"/>
       </inertial>
     </link>


  <!-- LEG 1!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
 
     <!-- PLATFORMA - UP_SECTION -->
 
     <joint name="${prefix}joint1_1" type="revolute">
       <parent link="${prefix}base_link"/>
       <child link="${prefix}link2_1"/>
       <origin xyz="-0.063746	0.067285	0.003274" rpy="0 0 0"/>
       <axis xyz="0.0 0.0 1.0"/>
       <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
       <dynamics damping="0.1"/>
     </joint>
 
   <!-- UP_SECTION -->
 
     <link name="${prefix}link2_1">
       <visual>
         <origin xyz="-0.013611	0.016988 -0.000419" rpy="0 0 0"/>
         <geometry>
           <mesh filename="${meshes_file_direction}/1_leg_up.stl" scale="1.0 1.0 1.0"/>
         </geometry>
         <material name="grey">
           <color rgba="0.2 0.2 0.2 1"/>
         </material>
       </visual>
 
       <collision>
         <origin xyz="-0.013611	0.016988 -0.000419" rpy="0 0 0"/>
         <geometry>
           <mesh filename="${meshes_file_direction}/hitbox_1_leg_up.stl" scale="1.0 1.0 1.0"/>
         </geometry>
       </collision>
 
        <inertial>
         <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
         <mass value="${wheel_mass}"/>
         <inertia
           ixx="${ixx}" ixy="0.0" ixz="0.0"
           iyy="${iyy}" iyz="0.0"
           izz="${izz}"/>
       </inertial>
     </link>
 
     <!-- UP_SECTION - MID_SECTION -->
 
     <joint name="${prefix}joint2_1" type="revolute">
      <parent link="${prefix}link2_1"/>
      <child link="${prefix}link3_1"/>
      <origin xyz="-0.018864	0.024671	-0.020002" rpy="0 0 0"/>
      <axis xyz="-0.6074290528 -0.794374 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.261799388" upper="1.308996939"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- MID_SECTION -->

    <link name="${prefix}link3_1">
      <visual>
        <origin xyz="-0.024936	0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/1_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.024936	0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_1_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- MID_SECTION - DOWN_SECTION -->

    <joint name="${prefix}joint3_1" type="revolute">
      <parent link="${prefix}link3_1"/>
      <child link="${prefix}link4_1"/>
      <origin xyz="-0.054636	0.071451	0.00505" rpy="1.4072 0 0"/>
      <axis xyz="-0.6074290528 -0.794374 0"/>
      <limit effort="5.0" velocity="1.0" lower="0" upper="1.570796327"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- DOWN_SECTION -->

    <link name="${prefix}link4_1">
      <visual>
        <origin xyz="-0.039176	0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/1_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.039176	0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_1_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

        <inertial>
        <origin xyz="0.0        0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

    <!-- END EFFECTOR JOINT AND LINK -->

    <joint name="${prefix}joint4_1" type="fixed">
      <parent link="${prefix}link4_1"/>
      <child link="${prefix}link5_1"/>
      <origin xyz="-0.099587	0.130461	-0.000046" rpy="0 0 0"/>
    </joint>
    
    <link name="${prefix}link5_1"/>

    <!-- LEG 2!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 -->
 
     <!-- PLATFORMA - UP_SECTION -->
 
     <joint name="${prefix}joint1_2" type="revolute">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link2_2"/>
      <origin xyz="-0.005442	0.097816	0.003274" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- UP_SECTION -->

    <link name="${prefix}link2_2">
      <visual>
        <origin xyz="-0.000493	0.021762	-0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/2_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.000493	0.021762	-0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_2_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- UP_SECTION - MID_SECTION -->

    <joint name="${prefix}joint2_2" type="revolute">
      <parent link="${prefix}link2_2"/>
      <child link="${prefix}link3_2"/>
      <origin xyz="0.0	0.031057	-0.020002" rpy="0 0 0"/>
      <axis xyz="-1 0 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.261799388" upper="1.308996939"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- MID_SECTION -->

    <link name="${prefix}link3_2">
      <visual>
        <origin xyz="0.0	0.041	0.000546" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/2_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.0	0.041	0.000546" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_2_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- MID_SECTION - DOWN_SECTION -->

    <joint name="${prefix}joint3_2" type="revolute">
      <parent link="${prefix}link3_2"/>
      <child link="${prefix}link4_2"/>
      <origin xyz="0.0	0.089946	0.00505" rpy="1.4072 0 0"/>
      <axis xyz="-1 0 0"/>
      <limit effort="5.0" velocity="1.0" lower="0" upper="1.570796327"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- DOWN_SECTION -->

    <link name="${prefix}link4_2">
      <visual>
        <origin xyz="0.000265	0.064842	0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/2_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.000265	0.064842	0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_2_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0        0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

   <!-- END EFFECTOR JOINT AND LINK -->

   <joint name="${prefix}joint4_2" type="fixed">
    <parent link="${prefix}link4_2"/>
    <child link="${prefix}link5_2"/>
    <origin xyz="0.000147	0.164223	-0.000046" rpy="0 0 0"/>
  </joint>
  
  <link name="${prefix}link5_2"/>





 <!-- LEG 3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    <!-- PLATFORMA - UP_SECTION -->

    <joint name="${prefix}joint1_3" type="revolute">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link2_3"/>
      <origin xyz="0.055103	0.073938	0.003274" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- UP_SECTION -->

    <link name="${prefix}link2_3">
      <visual>
        <origin xyz="0.012827	0.017587 -0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/3_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.012827	0.017587 -0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_3_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- UP_SECTION - MID_SECTION -->

    <joint name="${prefix}joint2_3" type="revolute">
      <parent link="${prefix}link2_3"/>
      <child link="${prefix}link3_3"/>
      <origin xyz="0.018864	0.024671	-0.020002" rpy="0 0 0"/>
      <axis xyz="-0.794374 0.6074290528 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.261799388" upper="1.308996939"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- MID_SECTION -->

    <link name="${prefix}link3_3">
      <visual>
        <origin xyz="0.024936	0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/3_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.024936	0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_3_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- MID_SECTION - DOWN_SECTION -->

    <joint name="${prefix}joint3_3" type="revolute">
      <parent link="${prefix}link3_3"/>
      <child link="${prefix}link4_3"/>
      <origin xyz="0.054636	0.071451	0.00505" rpy="1.4072 0 0"/>
      <axis xyz="-0.794374 0.6074290528 0"/>
      <limit effort="5.0" velocity="1.0" lower="0" upper="1.570796327"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- DOWN_SECTION -->

    <link name="${prefix}link4_3">
      <visual>
        <origin xyz="0.039176	0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/3_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.039176	0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_3_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0        0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

    <!-- END EFFECTOR JOINT AND LINK -->

    <joint name="${prefix}joint4_3" type="fixed">
      <parent link="${prefix}link4_3"/>
      <child link="${prefix}link5_3"/>
      <origin xyz="0.099252	0.130694	-0.000046" rpy="0 0 0"/>
    </joint>
    
    <link name="${prefix}link5_3"/>





 <!-- LEG 4!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    <!-- PLATFORMA - UP_SECTION -->

    <joint name="${prefix}joint1_4" type="revolute">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link2_4"/>
      <origin xyz="0.055103	-0.073938	0.003274" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- UP_SECTION -->

    <link name="${prefix}link2_4">
      <visual>
        <origin xyz="0.013611	-0.016988 -0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/4_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.013611	-0.016988 -0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_4_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- UP_SECTION - MID_SECTION -->

    <joint name="${prefix}joint2_4" type="revolute">
      <parent link="${prefix}link2_4"/>
      <child link="${prefix}link3_4"/>
      <origin xyz="0.018864	-0.024671	-0.020002" rpy="0 0 0"/>
      <axis xyz="0.6074290528 0.794374 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.261799388" upper="1.308996939"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- MID_SECTION -->

    <link name="${prefix}link3_4">
      <visual>
        <origin xyz="0.024936	-0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/4_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.024936	-0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_4_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- MID_SECTION - DOWN_SECTION -->

    <joint name="${prefix}joint3_4" type="revolute">
      <parent link="${prefix}link3_4"/>
      <child link="${prefix}link4_4"/>
      <origin xyz="0.054636	-0.071451	0.00505" rpy="1.4072 0 0"/>
      <axis xyz="0.6074290528 0.794374 0"/>
      <limit effort="5.0" velocity="1.0" lower="0" upper="1.570796327"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- DOWN_SECTION -->

    <link name="${prefix}link4_4">
      <visual>
        <origin xyz="0.039176	-0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/4_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.039176	-0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_4_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0        0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

    <!-- END EFFECTOR JOINT AND LINK -->

    <joint name="${prefix}joint4_4" type="fixed">
      <parent link="${prefix}link4_4"/>
      <child link="${prefix}link5_4"/>
      <origin xyz="0.099758	-0.130448	-0.000046" rpy="0 0 0"/>
    </joint>
    
    <link name="${prefix}link5_4"/>





 <!-- LEG 5!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


    <!-- PLATFORMA - UP_SECTION -->

    <joint name="${prefix}joint1_5" type="revolute">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link2_5"/>
      <origin xyz="-0.005442	-0.097816	0.003274" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- UP_SECTION -->

    <link name="${prefix}link2_5">
      <visual>
        <origin xyz="0.000493	-0.021762	-0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/5_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0.000493	-0.021762	-0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_5_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- UP_SECTION - MID_SECTION -->

    <joint name="${prefix}joint2_5" type="revolute">
      <parent link="${prefix}link2_5"/>
      <child link="${prefix}link3_5"/>
      <origin xyz="0.0	-0.031057	-0.020002" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.261799388" upper="1.308996939"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- MID_SECTION -->

    <link name="${prefix}link3_5">
      <visual>
        <origin xyz="0.0	-0.041	0.000546" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/5_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="00.0	-0.041	0.000546" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_5_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- MID_SECTION - DOWN_SECTION -->

    <joint name="${prefix}joint3_5" type="revolute">
      <parent link="${prefix}link3_5"/>
      <child link="${prefix}link4_5"/>
      <origin xyz="0.0	-0.089946	0.00505" rpy="1.4072 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="5.0" velocity="1.0" lower="0" upper="1.570796327"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- DOWN_SECTION -->

    <link name="${prefix}link4_5">
      <visual>
        <origin xyz="-0.000265	-0.064842	0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/5_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.000265	-0.064842	0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_5_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0        0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

    <!-- END EFFECTOR JOINT AND LINK -->

    <joint name="${prefix}joint4_5" type="fixed">
      <parent link="${prefix}link4_5"/>
      <child link="${prefix}link5_5"/>
      <origin xyz="-0.000051	-0.164207	-0.000046" rpy="0 0 0"/>
    </joint>
    
    <link name="${prefix}link5_5"/>






 <!-- LEG 6!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    <!-- PLATFORMA - UP_SECTION -->

    <joint name="${prefix}joint1_6" type="revolute">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link2_6"/>
      <origin xyz="-0.063746	-0.067285	0.003274" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.5236" upper="0.5236"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- UP_SECTION -->

    <link name="${prefix}link2_6">
      <visual>
        <origin xyz="-0.012827	-0.017588 -0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/6_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.012827	-0.017588 -0.000419" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_6_leg_up.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- UP_SECTION - MID_SECTION -->

    <joint name="${prefix}joint2_6" type="revolute">
      <parent link="${prefix}link2_6"/>
      <child link="${prefix}link3_6"/>
      <origin xyz="-0.018864	-0.024671	-0.020002" rpy="0 0 0"/>
      <axis xyz="0.794374 -0.6074290528 0"/>
      <limit effort="5.0" velocity="1.0" lower="-0.261799388" upper="1.308996939"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- MID_SECTION -->

    <link name="${prefix}link3_6">
      <visual>
        <origin xyz="-0.024936	-0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/6_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.024936	-0.032658	0.000547" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_6_leg_mid.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

  <!-- MID_SECTION - DOWN_SECTION -->

    <joint name="${prefix}joint3_6" type="revolute">
      <parent link="${prefix}link3_6"/>
      <child link="${prefix}link4_6"/>
      <origin xyz="-0.054636	-0.071451	0.00505" rpy="1.4072 0 0"/>
      <axis xyz="0.794374 -0.6074290528 0"/>
      <limit effort="5.0" velocity="1.0" lower="0" upper="1.570796327"/>
      <dynamics damping="0.1"/>
    </joint>

  <!-- DOWN_SECTION -->

    <link name="${prefix}link4_6">
      <visual>
        <origin xyz="-0.039176	-0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/6_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.039176	-0.05167	0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/hitbox_6_leg_down.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

       <inertial>
        <origin xyz="0.0        0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${ixx}" ixy="0.0" ixz="0.0"
          iyy="${iyy}" iyz="0.0"
          izz="${izz}"/>
      </inertial>
    </link>

    <!-- END EFFECTOR JOINT AND LINK -->

<!--may be useful to set leg in starting position
    <transmission name="${prefix}trans_joint1_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint1_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor1_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}trans_joint2_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint2_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor2_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}trans_joint3_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint3_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor3_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
    </transmission>
    -->
    <joint name="${prefix}joint4_6" type="fixed">
      <parent link="${prefix}link4_6"/>
      <child link="${prefix}link5_6"/>
      <origin xyz="-0.099223	-0.130739	-0.000046" rpy="0 0 0"/>
    </joint>
    
    <link name="${prefix}link5_6"/>
  </xacro:macro>
 </robot>
