<?xml version="1.0"?>
<robot name="hexapod" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_sim" default="true" />
  <xacro:arg name="prefix" default="" />
  
  <xacro:include filename="$(find hexapod_description)/gazebo/hexapod.gazebo.xacro" />
  <xacro:include filename="$(find hexapod_description)/urdf/hexapod_leg_ee.urdf.xacro" />
  <xacro:include filename="$(find hexapod_description)/urdf/hexapod_gazebo.urdf.xacro" />

  <xacro:include filename="$(find hexapod_description)/ros2_control/hexapod_system.ros2_control.xacro" />

  <xacro:hexapod prefix="$(arg prefix)" />
  <xacro:hexapod_gazebo prefix="$(arg prefix)" />
  <xacro:hexapod_system use_sim="$(arg use_sim)" prefix="$(arg prefix)"/>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find hex_gz)/config/gazebo_controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

  

</robot>
