<?xml version="1.0"?>
<!-- OpenManipulator Chain -->
<robot name="hexapod" xmlns:xacro="http://ros.org/wiki/xacro">

  
  <!-- Includes start -->
<!-- 
  <xacro:include filename="lidar.xacro"/>
-->
  
  <xacro:include filename="camera.xacro"/>


  <!-- Includes end-->


  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="port_name" default="/dev/ttyUSB0" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find hexapod_description)/gazebo/hexapod.gazebo.xacro" />

  <!-- Import URDF -->
  <xacro:include filename="$(find hexapod_description)/urdf/hexapod_leg.urdf.xacro" />

  <xacro:include filename="$(find hexapod_description)/ros2_control/hexapod_system.ros2_control.xacro" />

  <xacro:hexapod prefix="$(arg prefix)" />
  <xacro:hexapod_gazebo prefix="$(arg prefix)" />
  <xacro:hexapod_system
    name="HexapodSystem" prefix="$(arg prefix)" use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    port_name="$(arg port_name)"/>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find hex_gz)/config/gazebo_controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- Fake left wheel -->
  <link name="fake_left_wheel">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="fake_left_wheel_joint" type="continuous">
    <parent link="${prefix}link1"/>
    <child link="fake_left_wheel"/>
    <origin xyz="0 0.15 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- Fake right wheel -->
  <link name="fake_right_wheel">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="fake_right_wheel_joint" type="continuous">
    <parent link="${prefix}link1"/>
    <child link="fake_right_wheel"/>
    <origin xyz="0 -0.15 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- World -->
  <!-- <link name="world"/> -->

  <!-- World fixed joint -->
  <!-- <joint name="$(arg prefix)world_floating" type="fixed">
    <origin xyz="0 0 1" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="$(arg prefix)link1"/>
  </joint> -->



</robot>
